<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Login - Pizzaria</title>
</head>

<body>
    <h2>🍕 Login Pizzaria</h2>
    <form method="POST" action="/login">
        <input type="email" name="email" placeholder="Email" required><br>
        <input type="password" name="senha" placeholder="Senha" required><br>
    </form>
    <% if (erro) { %>
        <p styles="color: red;">
            <%=erro %>
        </p>
    <% } %>   
</body>
</html>